<main class="container">
    <section class="edit_team_header">
        <h1>Edit Team</h1>
        <%= render 'layouts/error_field', item: @team %>
        <%= render 'layouts/flash_field', item: @team %>
    </section>
    <section class="edit_team_body">
        <%= form_for @team do |f| %>
            <%= f.label :name %><br>
            <%= f.text_field :name %><br><br>
            <%= f.submit "Update Team Settings", class: 'button' %>
        <% end %>
        <br><br>
        <div id="members_list">
            <%= render :collection => @members, 
                        :partial => 'member_card',
                        :as => :member,
                        :locals => {kind: 'edit_team', team: @team} 
            %>
        </div>
        <div id="add_team_member">
            <button type="button" id="add_team_member_button">Add Team Member</button>
        </div>
        <br>
        <button>
            <%= link_to "Back To Team", @team %>
        </button>
        <br>
        <br>
        <%= button_to "Delete Team", @team, method: :delete, class: "button", data: {confirm: 'Are you Sure?'} %>

    </section>
</main>

<script>
    $(document).on('click', '#add_team_member_button', function() {
        $(this).hide().parent().append("<%= j render partial: 'memberships/form', :locals => {membership: Membership.new} %>")
    })
</script>
