<div data-id="<%= set_entry.id %>" class="arrangement_card">
    <% arrangement = set_entry.arrangement unless !!arrangement %>
    <div class="accordion">
        <div class="title_line">
            <div class="accordion_title">
                <span class="title_span">
                    <%= title_details_for arrangement %>
                </span>
            </div>
            <div class="control">
                <% if kind == "arr_list" %>
                    <span>
                        <button class="add_to_setlist">
                            <span style="display: none" class="arrangement_id_span"><%= arrangement.id %></span>
                            >
                        </button>
                    </span>
                <% elsif kind == "setlist_list" %>
                    <span>    
                        <button class="remove_from_setlist">
                            <span style="display: none" class="set_entry_id_span"><%= set_entry.id %></span>
                            -
                        </button>
                    </span>
                <% elsif kind == "arr_list_no_details" %>
                <span>    
                    <button class="view details">
                        <%= link_to "details", user_arrangement_path(arrangement.owner, arrangement) %>
                    </button>
                </span>
                <% end %>
            </div>
        </div>
        <div class="accordion_details">
            <%= render :partial => "arrangements/arrangement_details", 
                       :locals => {user: @user, arrangement: arrangement} 
            %>
        </div>
    </div>
</div>