<div data-id="<%= set_entry.id %>" class="arrangement_card">
    <div class="accordion">
        <div class="title_line">
            <div class="accordion_title">
                <span class="title_span">
                    <%= arrangement.song.name %> - 
                    <%= arrangement.song.artist.name %>
                </span>
            </div>
            <div class="control">
                <% if kind == "arr_list" %>
                    <span>
                        <button class="add_to_setlist">
                            <span style="display: none" class="arrangement_id_span"><%= arrangement.id %></span>
                            >
                        </button>
                    </span>
                <% elsif kind == "setlist_list" %>
                    <span>    
                        <button class="remove_from_setlist">
                            <span style="display: none" class="set_entry_id_span"><%= set_entry.id %></span>
                            -
                        </button>
                    </span>
                <% end %>
            </div>
        </div>
        <div class="accordion_details">
            <%= render partial: "arrangements/arrangement_details", :locals => {user: @user, arrangement: arrangement} %>
        </div>
    </div>
</div>
