<main class="container">
    <section class="new_arrangement_header">
        <h1>Edit Arrangement</h1>
    </section>
    <section class="new_arrangement_body">
        <%= form_for @arrangement do |f| %>
            <%= f.fields_for :song do |builder| %> 
                <%= render 'songs/song_fields', f: builder, user: @user %>
            <% end %>
            <br><br>
            <%= f.fields_for :artist do |builder| %> 
                <%= render 'artists/artist_fields', f: builder, user: @user %>
            <% end %>
            <br><br>
            <%= f.fields_for :arranger do |builder| %> 
                <%= render 'arrangers/arranger_fields', f: builder, user: @user %>
            <% end %>
            <br><br>
            <%= f.label :key, "Key" %><br>    
            <%= f.text_field :key %>
            <br><br>
            <%= f.label :tempo, "Tempo (BPM)" %><br>    
            <%= f.text_field :tempo %>
            <br><br>
            <input type='hidden' value='' id='genres_hidden' name='arrangement[genre_attributes][names]'>
            <input type='hidden' value='<%= @user.id %>' name='arrangement[genre_attributes][user_id]'>
            <div id='genre_list' name='arrangement[genre_list]'>
                <% @arrangement.genres.each do |genre| %>
                    <span class="tag_span"><%= genre.name %><button type='button' class='remove_tag'>X</button></span>
                <% end %> 
            </div>
            <div id='add_genre_div'>
                <%= label_tag 'Genres' %>
                <%= text_field_tag 'genre_input' %>
                <button type="button" id="add_tag_button">Add Genre</button>
            </div>
            <br><br>
            <div class="new_charts">
                <h2>Charts:</h2>
                <div class="chart_list">
                    <%= f.fields_for :charts do |builder| %>
                        <%= render 'chart_fields', f: builder %>
                    <% end %>
                    <div>
                        <%= link_to_add_association "Add Chart", f, :charts, class: "button" %>
                    </div>
                </div>
                <br>
            </div>
            <%= f.submit "Update Arrangement" %>
        <% end %> 
    </section>
</main>

<script>
    var targetNode = document.getElementById("genre_list");
    var genres_hidden = document.getElementById("genres_hidden")
    var config = { childList: true };

    var callback = function(mutationsList) {
        for(var mutation of mutationsList) {
            if (mutation.type == 'childList') {
                genres = targetNode.children
                genre_names = ''
                for (i of genres) {
                    genre_names += i.innerText.slice(0, -1) + ","    
                }           
                genres_hidden.value = genre_names.slice(0, -1)
            }
        }
    };

    var observer = new MutationObserver(callback);

    observer.observe(targetNode, config);

    $(document).ready(function() {
        console.log('UPDATING')
        genres = $('#genre_list').children()
        genre_names = ''
        for (i of genres) {
            genre_names += i.innerText.slice(0, -1) + ","    
        }
        $('#genres_hidden').val(genre_names.slice(0, -1))
    })
</script>