<main class="container">
    <section class="arrangements_index_header">
        <h1>All Arrangements for <%= @list_title %></h1>
        <%= render 'layouts/flash_field' %>
        <div>
            <% if @team %>
                <button>
                    <%= link_to "Back To Team Home", team_path(@team) %>
                </button>
            <% else %>
                <button>
                    <%= link_to "Create a New Arrangement", new_arrangement_path %>
                </button>
                <button>
                    <%= link_to "Back To Dashboard", current_user %>
                </button>
            <% end %>
        </div>
    </section>
    <section class="arrangements_index_body">
        <%= render :collection => @arrangements.sort_by_song_title, 
                   :partial => 'arrangements/arrangement_card', 
                   :as => :arrangement,
                   :locals => { 
                        user: @user, 
                        kind: 'arr_list_no_details',
                        set_entry: SetEntry.new
                   } 
        %>
    </section>
</main>

