<main class="container">
    <section class="arrangements_index_header">
        <h1>All Arrangements for <%= @list_title %></h1>
        <%= render 'layouts/flash_field' %>
    </section>
    <section class="arrangements_index_body">
        <%= render :collection => @arrangements.sort_by_song_title, 
                   :partial => 'arrangements/arrangement_card', 
                   :as => :arrangement,
                   :locals => { 
                        user: @user, 
                        kind: 'arr_list_no_details',
                        set_entry: SetEntry.new
                   } 
        %>
    </section>
    <section class="arrangements_index_footer">
        <% if @team %>
            <%= link_to "Back To Team Home", team_path(@team) %>
        <% else %>
            <%= link_to "Create a New Arrangement", new_arrangement_path %>
            <%= link_to "Back To Dashboard", @user %>
        <% end %>
        
    </section>
</main>

