<main class="container">
    <section class="new_arrangement_header">
        <h1>New Arrangement</h1>
    </section>
    <section class="new_arrangement_body">
        <%= form_for @arrangement, :url => user_arrangements_url do |f| %>
            <%= render :partial => 'songs/song_fields', :locals => {f: f, user: @user}%>
            <br><br>
            <%= render :partial => 'artists/artist_fields', :locals => {f: f, user: @user}%>
            <br><br>
            <%= render :partial => 'arrangers/arranger_fields', :locals => {f: f, user: @user}%>
            <br><br>
            <%= f.label :key, "Key" %><br>    
            <%= f.text_field :key %>
            <br><br>
            <%= f.label :tempo, "Tempo (BPM)" %><br>    
            <%= f.text_field :tempo %>
            <br><br>
            <input type='hidden' value='' id='genres_hidden' name='arrangement[genre_attributes][names]'>
            <input type='hidden' value='<%= @user.id %>' name='arrangement[genre_attributes][user_id]'>
            <div id='genre_list' name='arrangement[genre_list]'>
                <% @arrangement.genres.each do |genre| %>
                    <span class="tag_span"><%= genre.name %><button type='button' class='remove_tag'>X</button></span>
                <% end %> 
            </div>
            <div id='add_genre_div'>
                <%= text_field_tag 'genre_input' %>
                <button type="button" id="add_tag_button">Add Genre</button>
            </div>
            <br><br>
            <div class="new_charts">
                <h2>Charts:</h2>
                <%= f.fields_for :charts do |builder| %>
                    <%= render 'chart_fields', f: builder %>
                <% end %>
                <div>
                    <%= link_to_add_association "Add Chart", f, :charts %>
                </div>
            </div>
            <%= f.submit "Create Arrangement" %>
        <% end %> 
    </section>
    <section class="new_arrangement_footer">
    
    </section>
</main>

<script>
    $('#genre_input').keypress(function(e) {
        if(e.keyCode == 13) {
            e.preventDefault();
            $('#add_tag_button').click();
        }
    })

    $(document).on('click', '#add_tag_button', function() {
        tag = $('#genre_input').val()
        if (tag != '') {
            $('#genre_list').append(`<span class="tag_span">${tag}<button type='button' class='remove_tag'>X</button></span>`)
            $('#genre_input').val('')
        }
    });

    $(document).on('click', '.remove_tag', function() {
        $(this).parent().remove()
    })

    $('#genre_list').on('DOMSubtreeModified', function() {
        genres = $('#genre_list').children()
        genre_names = ''
        for (i of genres) {
            genre_names += i.innerText.slice(0, -1) + ","    
        }
        $('#genres_hidden').val(genre_names.slice(0, -1))
    })


</script>