<main class="container">
    <section class="show_arrangement_header">
        <h1>Arrangement Details</h1>
    </section>
    <section class="show_arrangement_body">
        <%= render :partial => 'arrangement_details', 
                   :locals => {
                        arrangement: @arrangement, 
                        user: @user
                   } 
        %>
        <% if current_user == @arrangement.owner %>
            <button>
                <h3><%= link_to "Song: " + @arrangement.song.name, song_path(@arrangement.song) %></h3>
            </button>
            <br>
            <br>
            <% if @arrangement.artist %>
                <button>
                    <h3><%= link_to "Artist: " + @arrangement.artist.name, artist_path(@arrangement.artist) %></h3>
                </button>
                <br>
                <br>
            <% end %>
            <button>
                <h3><%= link_to "Arranger: " + @arrangement.arranger.name, arranger_path(@arrangement.arranger) %></h3>
            </button>
            <br>
            <br>
            <button>
                <h3><%= link_to "Edit this Arrangement ", edit_arrangement_path(@arrangement) %></h3>
            </button>
            <br>
            <br>
            <%= button_to "Delete this Arrangement", @arrangement, :method => :delete, class: "button" %>
            <br>
            <button>
                <h3><%= link_to "Back to My Arrangements", arrangements_path %></h3>
            </button>
        <% end %>
        <% if @team %>
            <button>
                <h3><%= link_to "Back to Team Arrangements", team_arrangements_path(@team) %></h3>
            </button>
        <% end %>
    </section>
    <section class="show_arrangement_footer">

    </section>
</main>