<main class="container">
    <section class="edit_user_header">
        <h1>Change Password</h1>
        <%= render 'layouts/error_field', item: @user %>
        <%= render 'layouts/flash_field' %>
    </section>
    <section class="edit_user_body">
        <%= form_for @user, url: user_update_password_path(@user), method: :patch do |f| %>
            <%= f.label :old_password, "Current Password" %><br>
            <%= f.password_field :old_password %><br><br>
            <%= f.label :password, "New Password" %><br>
            <%= f.password_field :password %><br><br>
            <%= f.label :password_confirmation, "Confirm Password" %><br>
            <%= f.password_field :password_confirmation %><br><br>
            <%= f.submit "Update Password", class: 'button' %>
        <% end %>
    </section>
</main>