<main class="container">
    <section class="dashboard_header">
        <h1>Dashboard</h1>
        <h2>You are logged in as: <%= current_user.username %></h2>
        <%= render 'layouts/flash_field'%>
    </section>
    <section class="dashboard_body">
        <article class="my_arrangements">
            <div class="title">
                <h2>My Arrangements:</h2>
                <%= link_to "Manage Arrangements", arrangements_path, class: "button" %>
            </div>
            <div class="title_search">
                <label for="arr_search">Search:&nbsp</label>
                <input type="text" id="arr_search">
            </div>
            <div class="scroll_list arrangement_list">
                <%= render :collection => @user.owned_arrangements.sort_by_song_title, 
                           :partial => 'arrangements/arrangement_card', 
                           :as => :arrangement,
                           :locals => { 
                                user: @user, 
                                kind: 'arr_list',
                                set_entry: SetEntry.new
                           },
                           :cached => true 
                %>
                <% if !@user.owned_arrangements.any? %>
                    <%= link_to "Add Your First Arrangement Here!", new_arrangement_path %>
                <% end %>
            </div>
        </article>
        <article class="my_setlists">
            <div class="title">
                <h2>My Setlists:</h2>
                <div id="setlist_add">
                    <%= link_to 'New Setlist', new_setlist_path, remote: true, class: "button" %>
                </div>
            </div>
            <div class="title_search">
                <%= collection_select :setlist, :id, @user.created_setlists.all, :id, :name %>
            </div>
            <div class="scroll_list">
                <div data-controller="drag" data-drag-url="/set_entries/:id/move" id="setlist_list">
                    <% if @setlist %>
                        <%= render :collection => @setlist.set_entries.order(position: :asc),
                                    :partial => 'arrangements/arrangement_card',
                                    :as => :set_entry, 
                                    :locals => { 
                                        user: @user, 
                                        kind: 'setlist_list'
                                    } 
                        %>
                    <% else %>
                        <p>Start a new setlist here!</p>
                    <% end %>
                </div>
            </div>
        </article>
    </section>
</main>