<main class="container">
    <section class="dashboard_header">
        <h1>Dashboard</h1>
        <h2>You are logged in as: <%= current_user.username %></h2>
    </section>
    <section class="dashboard_body">
        <article class="my_arrangements">
            <h2>My Arrangements:</h2>
            <br>
            <label for="arr_search">Search:</label>
            <input type="text" id="arr_search">
            <div id="arrangement_list">
                <%= render :collection => @user.owned_arrangements.sort_by_song_title, 
                           :partial => 'arrangements/arrangement_card', 
                           :as => :arrangement,
                           :locals => { 
                                user: @user, 
                                kind: 'arr_list',
                                set_entry: SetEntry.new
                           } 
                %>
            </div>
        </article>
        <article class="my_setlists">
            <h2>My Setlist:</h2>
            <%= collection_select :setlist, :id, @user.created_setlists.all, :id, :name %>
            <div data-controller="drag" data-drag-url="/set_entries/:id/move" id="setlist_list">
                <%= render :collection => @setlist.set_entries.order(position: :asc),
                            :partial => 'arrangements/arrangement_card',
                            :as => :set_entry, 
                            :locals => { 
                                user: @user, 
                                kind: 'setlist_list'
                            } 
                %>
            </div>
            <div id="setlist_add">
                <%= link_to 'New Setlist', new_user_setlist_path(@user), remote: true %>
            </div>
        </article>
    </section>
    <section class="dashboard_footer">
        <%= link_to "Manage Arrangements", user_arrangements_path(@user) %>
    </section>
</main>

<script>
    $(document).on('click', '.accordion_title', function() {
        $(this).parent().next().toggleClass("active")
    })

    $(document).on('input', "#arr_search", function(){
        arrs = $('#arrangement_list').children()
        for (i of arrs) {
            text = $(i).find(".title_span").first().text().toLowerCase()
            if (!text.includes($("#arr_search").val().toLowerCase())) {
                $(i).hide()
            } else {
                $(i).show()
            }
        }
    });    

    $(document).on('change', "#setlist_id", function(){
        $.ajax({
            url: "/populate_setlist",
            type: "GET",
            data: {setlist_id: $(this).val()}
        })
    });

    $(document).on('click', ".add_to_setlist", function(event){
        if ($("#setlist_list").children().length == 0) {
            last_arrangement_id = 0
        } else {
            last_arrangement_id = $("#setlist_list").children().last().data().id
        }

        $.ajax({
            url: "/set_entries",
            type: "POST",
            data: {
                arrangement_id: $(this).children(".arrangement_id_span").text(),
                setlist_id: $("#setlist_id").val(),
                last_arrangement_id: last_arrangement_id
            }
        })
    });

    $(document).on('click', ".remove_from_setlist", function(event){
        $.ajax({
            url: "/set_entries",
            type: "DELETE",
            data: {
                set_entry_id: $(this).children('.set_entry_id_span').text()
            }
        })
    });
</script>