<div class="nav_controls">
    <% if logged_in? %>
        <div>
            <h2><%= link_to "Team Portal", teams_path %></h2>
        </div>
        <div id="arrangements_nav_wrapper">
            <div>
                <h2><%= link_to "Arrangements", arrangements_path %></h2>
            </div>
            <div id="arrangements_nav_options" class="hidden">
                <h2><%= link_to "Songs", songs_path %></h2>
                <h2><%= link_to "Artists", artists_path %></h2>
                <h2><%= link_to "Arrangers", arrangers_path %></h2>
                <h2><%= link_to "Genres", genres_path %></h2>
                <h2><%= link_to "Setlists", setlists_path %></h2>
            </div>
        </div>
        <div id="dashboard_nav_wrapper">
            <div>
                <h2><%= link_to "Dashboard", current_user %></h2>
            </div>
            <div id="dashboard_nav_options" class="hidden">
                <h2><%= link_to "Settings", edit_user_path(current_user) %></h2>
            </div>
        </div>
        <div>
            <h2><%= link_to "Log Out", logout_path %></h2>
        </div>
    <% else %>
        <div>
            <h2><%= link_to "Log In", login_path %></h2>
        </div>
        <div>
            <h2><%= link_to "Sign Up", signup_path %></h2>
        </div>
    <% end %>
</div>